<footer class="container center">
	<nav>
		<ul></ul>
		<ul>
			<li><a href="https://github.com/adrianogtl">github</a></li>
			<li><a href="https://www.linkedin.com/in/adrianogtl/?locale=en">linkedin</a></li>
			<li><a href="mailto:adrianogtl.dev@gmail.com">email</a></li>
		</ul>
		<ul></ul>
	</nav>
	<small>
		&copy; {% year %} Adriano Garcia | Built with
		<a href="http://11ty.dev" target="_blank" rel="noopener noreferrer"
			>11ty</a
		>
		and
		<a href="https://picocss.com" target="_blank" rel="noopener noreferrer"
			>Pico CSS</a
		>.
	</small>
</footer>
