<footer class="container center">
	<nav>
		<ul></ul>
		<ul>
			<li><a href="/blog">blog</a></li>
			<li><a href="#">github</a></li>
			<li><a href="#">linkedin</a></li>
		</ul>
		<ul></ul>
	</nav>
	<small>
		&copy; {% year %} Adriano Garcia | Built with
		<a href="http://11ty.dev" target="_blank" rel="noopener noreferrer"
			>11ty</a
		>
		and
		<a href="https://picocss.com" target="_blank" rel="noopener noreferrer"
			>Pico CSS</a
		>.
	</small>
</footer>
