<header class="container">
	<div class="warning center">
		<small>
			🚧 This website is a <strong>working in progress.</strong> 🚧
		</small>
	</div>
	<nav>
		<ul>
			<li>
				<strong><a href="/">Adriano Garcia</a></strong>
			</li>
		</ul>
		<ul>
			<li><a href="/blog">blog</a></li>
			<li><a href="https://adrianogtl.github.io/fcc-personal-portfolio/#projects" target="_blank" >portfolio</a></li>
		</ul>
	</nav>
</header>
